[Unit]
Description=Run Vivaldi Preload 1m after graphical login

[Timer]
# Wait 1 minute after login to avoid boot contention
OnBootSec=1min
Unit=vivaldi-preload.service

[Install]
WantedBy=timers.target
