[Unit]
Description=Preload Vivaldi flatpak in background

[Service]
Type=simple
# Launch without showing a window
ExecStart=/usr/bin/flatpak run com.vivaldi.Vivaldi --no-startup-window --disable-exstensions --no-first-run
# Make sure service does not exit immediately (if flatpak daemonizes)
RemainAfterExit=yes

[Install]
WantedBy=default.target
