# Settings that depend on operating system 
if [[ "$OSTYPE" == "msys" ]]; then # Windows 
    alias pva="source .venv/scripts/activate" # Python Venv Activate
else # Mac or Linux
    alias pva="source .venv/bin/activate" # Python Venv Activate
fi

# Define a function to alias coreutils commands to their Rust equivalents
alias_rust_coreutils() {
    local cmds=("$@")
    for cmd in "${cmds[@]}"; do
        alias "$cmd"="uutils-coreutils $cmd"
    done
}

# Set coreutils aliases if it is installed
if command -v uutils-coreutils > /dev/null 2>&1; then
    alias_rust_coreutils cat cp date dd df dir echo ln mkdir mv printf pwd rm \
                         sleep sort split sum tail tee, touch, uniq, unlink, wc, yes
fi

# Commands 
alias ll="ls -la"
alias v="nvim"
alias y="yazi"
alias g="git"
alias fv="fzf | xargs nvim" # 'fzf vim': pipe fzf output into neovim
alias fp="fzf --preview 'cat {}' | xargs nvim" # 'fzf preview': get a preview of the fzf output and pipe it into neovim
alias pic="wezterm imgcat"

# cd'ing up levels
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
