# Settings that depend on operating system. Python Venv Activate 
[[ "$OSTYPE" == "msys" ]] && alias pva="source .venv/scripts/activate"
[[ "$OSTYPE" != "msys" ]] && alias pva="source .venv/bin/activate"

# Define a function to alias coreutils commands to their Rust equivalents
alias_rust_coreutils() {
    local cmds=("$@")
    for cmd in "${cmds[@]}"; do
        alias "$cmd"="uutils-coreutils $cmd"
    done
}

# Set coreutils aliases if it is installed
if command -v uutils-coreutils &> /dev/null; then
    alias_rust_coreutils cat cp date dd df dir echo ln mkdir printf pwd rm \
                         sleep sort split sum tail tee touch uniq unlink wc yes
fi

# Commands 
alias ..="cd .."
alias f="fzf"
alias fe='fzf --bind "enter:become(nvim {+})"'  # fzf, then edit
alias grep="rg"
alias ls="eza"
alias ll="eza -la"
alias pic="wezterm imgcat"  # wezterm picture
alias v="nvim"
alias y="yazi"
