[user]
	name = Jan Coetzee
	email = jan@jancoe.io
[ui "color"]
    ui = always
[color]
    ui = true
[init]
	defaultBranch = main
[core]
    autocrlf = input
    excludesfile = ~/.gitignore_global
    editor = nvim
[credential "https://github.com"]
    helper = !/usr/bin/gh auth git-credential
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
    required = true
[github]
    user = JanCoe
