[user]
	name = JanCoe
	email = jan@jancoe.io
[init]
	defaultBranch = main
[core]
    autocrlf = input
    excludesfile = ~/.gitignore_global
    editor = vim
[credential "https://github.com"]
    helper = !/usr/bin/gh auth git-credential
