" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

let mapleader = " "

set relativenumber
set number

set scrolloff=6
set signcolumn="yes"

set wrap=false

set ignorecase
set smartcase
set incsearch
set hlsearch

set clipboard+=unnamedplus

set highlightedyank
set nerdtree

inoremap jk <Esc>
map H ^
map L $

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

" Harpoon
nmap <leader>hm <action>(HarpoonerQuickMenu)
nmap <leader>ha <action>(HarpoonerAddFile)
nmap <leader>hn <action>(HarpoonerNextFileAction)
nmap <leader>hp <action>(HarpoonerPreviousFileAction)

nmap <C-j> <action>(HarpoonerOpenFile0)
nmap <C-k> <action>(HarpoonerOpenFile1)
nmap <C-l> <action>(HarpoonerOpenFile2)
nmap <C-;> <action>(HarpoonerOpenFile3)